<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <link rel="stylesheet" href="static/css/navbar.css"></link>
        <link rel="stylesheet" href="static/css/ai.css">
        <a href="/home">Home</a>
        <a class="active" href="/ai">AI</a>
        <a href="/get">Get Human Recommendation</a>
        <a href="/give">Give Recommendation</a>
        <a href="/profile">Profile</a>
        <a id="logout" href="/logout">Logout</a>
      </div>


      
    <div class="container">
      <form action="/ai" method="post">
          <input type="text" name="search_word" placeholder="search for a song or a band">
          <input type="submit">
      </form>
  </div>

  <div class="track-list-container">
    <ul class="track-list">
        {% for track in rec_name %}
        <li class="track-list-item">
            <a href="{{ rec_link[loop.index0] }}" target="_blank"><span class="track-name">{{ track }}</span></a> - <span class="recommendation">{{ rec_name[track] }}</span>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>