<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        
    </title>
</head>
<body>
    <div>  
        <form action="/" method="post">
            <div><input type="email" name="email" placeholder="email"  required="@"></div>
            <div><input type="password" name="password" placeholder="password" minlength="6"></div>
            <div><input type ="submit"></div>
            
        </form>    
        <div><a href="/signup"><button>signup</button></a></div>

    
    </div>
</body>
</html>