<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <link rel="stylesheet" href="static/css/navbar.css"></link>
        <a href="/home">Home</a>
        <a href="/ai">AI</a>
        <a href="/get">Get</a>
        <a href="/give">Give</a>
        <a class="active" href="/profile">Profile</a>
        <a href="/logout">Logout</a>
      </div>


      <div>
        <img src="https://w7.pngwing.com/pngs/981/645/png-transparent-default-profile-united-states-computer-icons-desktop-free-high-quality-person-icon-miscellaneous-silhouette-symbol-thumbnail.png" alt="pfp">
        <h1>{{username}}</h1>
        <h2>{{email}}</h2>
      </div>
</body>
</html>