/* Reset some default styles to ensure consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    text-align: center;
    margin-top: 50px; /* Center everything besides the topnav */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 15px;
  }
  
  form input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }